[tool.poetry]
authors = ["abersheeran <me@abersheeran.com>"]
description = "Convert WSGI app to ASGI app or ASGI app to WSGI app."
license = "Apache-2.0"
name = "a2wsgi"
readme = "README.md"
version = "1.5.0"

homepage = "https://github.com/abersheeran/a2wsgi"
repository = "https://github.com/abersheeran/a2wsgi"

classifiers = [
  "Programming Language :: Python :: 3",
]

packages = [
  {include = "a2wsgi"},
]

[tool.poetry.dependencies]
python = ">=3.6.2"

[tool.poetry.dev-dependencies]
asgiref = "^3.2.7" # benchmark
black = "*"
flake8 = "*"
pytest = "^7.0.1"
pytest-cov = "^3.0.0"
pytest-asyncio = "^0.11.0"
mypy = "^*"
httpx = "^0.22.0"

[build-system]
build-backend = "poetry.masonry.api"
requires = ["poetry>=0.12"]
