[tool.poetry]
name = "a2wsgi"
version = "0.3.0"
description = "Convert WSGI app to ASGI app or ASGI app to WSGI app."
authors = ["abersheeran <me@abersheeran.com>"]
readme = "README.md"
license = "Apache-2.0"

homepage = "https://github.com/abersheeran/a2wsgi"
repository = "https://github.com/abersheeran/a2wsgi"

classifiers=[
    "Programming Language :: Python :: 3",
]

packages = [
    { include = "a2wsgi" },
]

[tool.poetry.dependencies]
python = "^3.6"

[tool.poetry.dev-dependencies]
pylint = "^2.5.0"
black = "^19.10b0"
pytest = "^5.4.1"
pytest-asyncio = "^0.11.0"
starlette = "^0.13.4"
requests = "^2.23.0"
webtest = "^2.0.35"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
