[tool.poetry]
authors = ["abersheeran <me@abersheeran.com>"]
description = "Convert WSGI app to ASGI app or ASGI app to WSGI app."
license = "Apache-2.0"
name = "a2wsgi"
readme = "README.md"
version = "1.1.0"

homepage = "https://github.com/abersheeran/a2wsgi"
repository = "https://github.com/abersheeran/a2wsgi"

classifiers = [
  "Programming Language :: Python :: 3",
]

packages = [
  {include = "a2wsgi"},
]

[tool.poetry.dependencies]
python = "^3.6"

[tool.poetry.dev-dependencies]
asgiref = "^3.2.7" # benchmark
black = {version = "*", allow-prereleases = true}
flake8 = "*"
httpx = {version = "^0.15", allow-prereleases = true}
mypy = "^*"
pytest = "^5.4.1"
pytest-asyncio = "^0.11.0"
pytest-cov = "^2.8.1"
uvicorn = "^0.12.1" # benchmark

[build-system]
build-backend = "poetry.masonry.api"
requires = ["poetry>=0.12"]
