advent-of-code-data==2.1.0
aiofiles==22.1.0
aiohappyeyeballs==2.5.0
aiohttp==3.11.13
aiosignal==1.3.2
aiosqlite==0.18.0
allure-pytest==2.13.5
allure-python-commons==2.13.5
annotated-types==0.7.0
anyio==3.6.2
aocd==0.1
aocd-example-parser==2024.12.25
appdirs==1.4.4
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asciitree==0.3.3
astroid==3.3.8
asttokens==2.2.1
async-timeout==5.0.1
attrs==25.1.0
Babel==2.11.0
backcall==0.2.0
beautifulsoup4==4.10.0
bidict==0.23.1
black==24.10.0
bleach==6.0.0
blinker==1.6.2
blis==0.7.9
bs4==0.0.1
bytecode==0.16.1
cachelib==0.10.2
catalogue==2.0.8
certifi==2021.10.8
cffi==1.15.1
cfgv==3.4.0
charset-normalizer==2.0.11
click==8.1.3
comm==0.1.2
confection==0.0.4
contourpy==1.0.7
coverage==7.6.12
cryptography==39.0.1
cssselect==1.1.0
cycler==0.11.0
cyksuid==2.1.0
cymem==2.0.7
Cython==3.0.12
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.6
diskcache==5.6.3
distlib==0.3.6
distro==1.9.0
docstring_parser==0.16
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
exceptiongroup==1.2.2
executing==1.2.0
fake-useragent==0.1.11
fastjsonschema==2.16.2
filelock==3.12.2
Flask==2.3.2
Flask-Session==0.5.0
Flask-SocketIO==5.5.1
fonttools==4.38.0
fqdn==1.5.1
frozenlist==1.5.0
fsspec==2024.10.0
grafana-api==1.0.3
grpcio==1.71.0
grpcio-tools==1.71.0
h11==0.14.0
h2==4.2.0
hpack==4.1.0
html==1.13
html5lib==1.1
httpcore==1.0.7
httpx==0.28.1
hyperframe==6.1.0
hypothesis==6.125.3
identify==2.6.9
idna==3.3
importlib-metadata==4.10.1
iniconfig==2.0.0
instructor==1.7.3
ipykernel==6.21.3
ipython==8.10.0
ipython-genutils==0.2.0
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.18.2
jellyfish==1.1.3
Jinja2==3.1.5
jiter==0.8.2
joblib==1.4.2
json5==0.9.11
jsonpointer==2.3
jsonschema==4.17.3
jupyter-events==0.6.3
jupyter-ydoc==0.2.2
jupyter_client==8.0.3
jupyter_core==5.2.0
jupyter_server==2.3.0
jupyter_server_fileid==0.7.0
jupyter_server_terminals==0.4.4
jupyter_server_ydoc==0.6.1
jupyterlab==3.6.1
jupyterlab-pygments==0.2.2
jupyterlab_server==2.19.0
keras==2.11.0
kiwisolver==1.4.4
langcodes==3.3.0
libcst==1.6.0
llvmlite==0.44.0
lxml==4.7.1
markdown-it-py==3.0.0
MarkupSafe==2.1.2
matplotlib==3.6.3
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==2.0.5
mock==5.1.0
mpmath==1.2.1
multidict==6.1.0
murmurhash==1.0.9
mypy-extensions==1.0.0
nbclassic==0.5.1
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
nest-asyncio==1.5.6
networkx==3.4.2
nltk==3.8.1
nodeenv==1.9.1
notebook==6.5.2
notebook_shim==0.2.2
ntlm-auth==1.5.0
numba==0.61.0
numpy==1.26.4
openai==1.66.0
opencv-python==4.5.5.62
outcome==1.3.0.post0
packaging==23.0
pandas==2.2.3
pandocfilters==1.5.0
parse==1.19.0
parso==0.8.3
pathspec==0.12.1
pathy==0.10.1
pbr==5.11.1
Pebble==5.1.0
pexpect==4.8.0
pickleshare==0.7.5
pika==1.3.2
Pillow==9.4.0
platformdirs==3.8.1
pluggy==1.5.0
ply==3.11
portalocker==2.10.1
pre_commit==4.1.0
preshed==3.0.8
prometheus-client==0.16.0
prompt-toolkit==3.0.36
propcache==0.3.0
protobuf==5.29.3
psutil==5.9.4
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
pydantic==2.10.6
pydantic_core==2.27.2
pyee==8.2.2
pygame==2.5.2
Pygments==2.19.1
pynguin==0.40.0
pyparsing==3.0.9
pyppeteer==1.0.2
pyquery==1.4.3
pyrsistent==0.19.3
PySocks==1.7.1
pytest==8.3.4
pytest-cov==6.0.0
python-dateutil==2.8.2
python-engineio==4.11.2
python-json-logger==2.0.6
python-socketio==5.12.1
pytz==2022.7.1
PyYAML==6.0
pyzmq==25.0.0
qdrant-client==1.13.3
qiskit==0.42.0
qiskit-aer==0.12.0
qiskit-ibmq-provider==0.20.2
qiskit-terra==0.23.2
regex==2022.10.31
requests==2.32.3
requests-html==0.10.0
requests-ntlm==1.1.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rustworkx==0.12.1
scikit-learn==1.2.1
scipy==1.10.0
selenium==4.28.1
Send2Trash==1.8.0
shellingham==1.5.4
simple-parsing==0.1.7
simple-websocket==1.1.0
six==1.16.0
sklearn==0.0.post2
smart-open==6.3.0
sniffio==1.3.0
sortedcontainers==2.4.0
sounddevice==0.5.1
soupsieve==2.3.1
spacy==3.5.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
srsly==2.4.6
stack-data==0.6.2
stevedore==5.0.0
stripe==11.6.0
swarm @ git+https://github.com/openai/swarm.git@0c82d7d868bb8e2d380dfd2a319b5c3a1f4c0cb9
symengine==0.9.2
sympy==1.13.1
tenacity==9.0.0
terminado==0.17.1
thinc==8.1.8
threadpoolctl==3.1.0
tinycss2==1.2.1
tomli==2.0.1
torch==2.1.1
torchaudio==2.5.1
torchvision==0.16.1
tornado==6.2
tqdm==4.62.3
traitlets==5.9.0
trio==0.28.0
trio-websocket==0.11.1
typer==0.15.2
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2025.1
uri-template==1.2.0
urllib3==2.3.0
virtualenv==20.23.1
w3lib==1.22.0
wasabi==1.1.1
wcwidth==0.2.6
webcolors==1.12
webencodings==0.5.1
websocket-client==1.8.0
websockets==10.1
Werkzeug==2.3.6
wsproto==1.2.0
y-py==0.5.5
yarl==1.18.3
ypy-websocket==0.8.2
zipp==3.7.0
